body [class*="col-"] {
    min-height: 40px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(160, 41, 12);
    text-align: center;
    line-height: 40px;
}

body [class*="space"] {
    padding: 10px;
}

body [class*="grey"] {
    border: 1px solid rgb(160, 41, 12);
    background-color: grey;
}

.container {
    width: 1170px;
    /* margin: auto; */
    margin: 50px auto; 
}

.row {
    color: white;
}    